@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;800&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Sono", sans-serif;
  font-weight: 400;
  background-color: #e0e0e0;
  color: white;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 30px auto;
  padding: 20px;
}

.header {
  display: flex;
  width: 100%;
  margin: 10px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  color: darkslategrey;
  font-weight: 800;
  /*width: 500px;*/
}

.headerMenu {
  width: 100px;
  display: flex;
  min-width: 80px;
  justify-content: space-evenly;
  align-items: center;
  font-family: "FontAwesome", sans-serif;
}

.headerMenu a {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
  color: #fff;
  background-color: gray;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
}

.headerMenu a::before {
  display: block;
  margin: 6px 0;
  transition: all 0.5s ease-in-out;
}

.headerMenu a:hover::before {
  margin-top: -19px;
}

.headerMenu a::after {
  display: block;
}
.headerMenu a:hover {
  background-color: green;
}

.btn-conf-columns::before,
.btn-conf-columns::after {
  content: "\f0db";
}

.btn-new-task::before,
.btn-new-task::after {
  content: "\f044";
}

.taskPanel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
}

.taskList {
  flex: 1;
  width: 25%;
  min-height: 100px;
  width: 25%;
  background-color: darkgreen;
  margin: 5px;
  padding: 10px 10px 0px 10px;
  height: fit-content;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.taskList h2 {
  border-bottom: 2px solid white;
  text-align: center;
}

.tasks {
}

.tasks .empty {
  background-color: #e0e0e0;
  background-color: white;
  color: black;
  margin: 10px 0;
  padding: 10px;
}

.task {
  width: 100%;
  min-height: 100px;
  background-color: aquamarine;
  margin: 10px 10px 10px 0px;
  position: relative;
  color: black;
}

.task p {
  padding: 30px 10px 10px;
}

.taskMenu {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  width: 60px;
  justify-content: space-between;
}

.taskMenu a {
  background-color: gray;
  color: white;
  border-radius: 50%;
  padding: 4px;
  margin: 2px;

  text-decoration: none;
  overflow: hidden;
  text-align: center;
  font-size: 0.8rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
  justify-content: space-evenly;
  align-items: center;
  font-family: "FontAwesome", sans-serif;
  align-items: center;
  align-content: center;
}

.taskMenu a:hover {
  background-color: green;
}

.taskPriority {
  position: absolute;
  left: 10px;
  top: -5px;
  color: red;
  font-size: 1.5rem;
  transform: rotate(45deg);
}

.inputDato {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tareaList {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  width: 100%;
  outline: none;
}

ul {
  padding: 0;
}

li {
  background-color: lightgray;
  margin-top: 5px;
  color: black;
  list-style-type: none;
  width: 100%;
  min-height: 100px;
  position: relative;
}

li p {
  padding: 10px;
  display: flex;
  width: 80%;
}

.btn-add {
  padding: 5px 15px;
  background-color: lightseagreen;
  border: none;
  color: white;
  font-family: fantasy;
  font-size: 1.4rem;
  outline: none;
}

.btn-del {
  padding: 5px;
  background-color: lightcoral;
  border: none;
  color: white;
  font-size: 0.6rem;
  outline: none;
  text-align: center;
  border: 1px solid red;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: absolute;
  right: 2px;
  top: 2px;
}

.btn-add:hover {
  cursor: pointer;
  background-color: darkseagreen;
}

.btn-del:hover {
  cursor: pointer;
  background-color: darkred;
}

.empty {
  color: darkslategrey;
}

.btn-delete {
}

.btn-delete:hover {
}

.li-container li {
}

/* POPUP NEW TASK */
.popup {
  position: absolute;
  top: -150px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

/* Activa el formulario popup de nueva tarea*/
.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
  color: darkslategrey;
}

.popup .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}
.popup .form .form-element textarea,
.popup .form .form-element select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form .form-element textarea {
  resize: none;
}

.popup .form .form-element input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.popup .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  background-color: green;
}

input[type="checkbox"] {
  accent-color: green;
}

@media (max-width: 1200px) {
  .taskList {
    flex: 45%;
    /*max-width: 480px;*/
  }
}

@media (max-width: 800px) {
  .taskList {
    flex: 100%;
  }
  h1 {
    font-size: 1.5rem;
  }
}
